name: Publish to Dev.to

on:
  push:
    branches:
      - main
    paths:
      - 'articles/*.md'

jobs:
  publish:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - name: Sync to Dev.to
        uses: unclepomedev/devto-publisher@v1
        with:
          devto_key: ${{ secrets.DEVTO_API_KEY }}
